#blog {
  display: grid;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background-color: #E74C3C;
  font-family: 'Raleway', sans-serif;
  color: whitesmoke;
}

#blog h1 {
  text-align: center;
  font-size: 5rem;
}

/* HEADER */
#nav-left, #nav-right {
  display: none;
}

#header {
  position: fixed;
  width: 100vw;
  min-height: 6vh;
  max-height: auto;
  display: flex;
  align-items: flex-end;
}

#mobile-menu-container {
  position: fixed;
  display: grid;
  align-self: end;
  width: 100%;
}

#mobile-menu-button {
  color: whitesmoke;
}

#mobile-menu-container nav button {
  padding: 1rem;
  align-self: start;
  display: grid;
  cursor: pointer;
  color: inherit;
  background-color: inherit;
  border: 0;
}

#mobile-menu {
  display: none;
}

#mobile-menu-container.open {
  background-color: rgba(0, 0, 0, 0.6);
}

#mobile-menu.open {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  text-align: center;
}

#mobile-menu li {
  border: 1px solid rgba(245, 245, 245, 0.2);
  padding: 0.5rem;
}
