body {
  display: grid;
  width: 100vw;
  font-family: 'Raleway', sans-serif;
  color: whitesmoke;
}

#content {
  display: grid;
}

.content {
  height: 100vh;
  width: 100vw;
  display: grid;
}

.content:nth-child(odd) {
  background-color: #2C3E50;
}

.content:nth-child(even) {
  /* background-color: #ECF0F1; */
  background-color: #2980B9;
}

/* HEADER */
#mobile-menu-container {
  display: none;
}

#header {
  position: fixed;
  width: 100vw;
  height: 2.8rem;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 1rem;
}


#nav-left {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header a:hover {
  color: #8A9BA5;
}

header a {
  padding: 0.7rem;;
  margin: 0.5rem;
}

/* LANDING */
#landing {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-rows: 3fr 1fr;
  align-items: center;
  justify-items: center;
  background-color: #2980B9;
  background-attachment: fixed;
}


#landing-text {
  height: 14vh;
  display: grid;
  justify-items: center;
  text-align: center;
}

#landing h1 {
  font-size: 4rem;
  font-weight: 400;
}

#landing h2 {
  font-size: 1.2rem;
  font-weight: 200;
}

/* ABOUT ME */
#about-me {
  grid-template-columns: 2fr 5fr;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#portrait-img {
  border-radius: 100%;
  padding: 1.5rem;
}

#portrait-img-mobile {
  display: none;
}

#about-text h4 {
  padding-right: 10rem;
  padding-bottom: 1.5rem;
  font-weight: 400;
  font-size: 2rem;
  line-height: 1.7rem;
}

#about-text p {
  padding-right: 10rem;
  font-weight: 100;
  font-size: 1.3rem;
  line-height: 1.7rem;
}

/* MY PROJECTS */
#projects {
  grid-template-rows: 2fr 4fr 1fr;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#project-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 3rem;
}

.project {
  padding: 2rem;
  margin: 0 5rem;
  box-shadow: 0 1px 2px 0px rgba(245, 245, 245, 0.2);
  border: 1px solid rgba(245, 245, 245, 0.2);
  transition: 0.3s;
}

.project-container {
  display: grid;
  grid-template-rows: 1fr 1fr;
}

.project:hover {
  box-shadow: 0 4px 8px 0 rgba(245, 245, 245, 0.2);
  transform: scale(1.1, 1.1);
  -moz-transform: scale(1.1, 1.1);
  -ms-transform: scale(1.1, 1.1);
  -webkit-transform: scale(1.1, 1.1);
  -o-transform: scale(1.1, 1.1);
}

#projects h2 {
  font-size: 4rem;
}

.project h3 {
  font-size: 2rem;
  padding-bottom: 1rem;
}

.project p {
  font-size: 1rem;
  padding-top: 1rem;
  font-weight: 100;
}


/* CONTACT ME */
#contact {
  grid-template-rows: 2fr 5fr;
  justify-content: center;
  align-items: center;
}

#contact h2 {
  font-size: 4rem;
  text-align: center;
}

#contact-form {
  display: grid;
  justify-content: center;
  align-items: center;
  align-self: start;
  padding: 1rem 2rem;
  box-shadow: 0 1px 2px 0px rgba(245, 245, 245, 0.2);
  border: 1px solid rgba(245, 245, 245, 0.2);
}

.form-item {
  padding: 0.75rem;
}

input[type=text], input[type=email] {
  height: 2rem;
  width: 40vw;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  border: 1px solid rgba(245, 245, 245, 0.2);
  font-size: 1rem;
  resize: vertical;
}

#contact-form textarea {
  height: 20vh;
  width: 40vw;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  border: 1px solid rgba(245, 245, 245, 0.2);
  font-size: 1rem;
  resize: vertical;
}

#send-container {
  display: grid;
  justify-content: center;
  align-items: end;
  padding-top: 1rem;
}

input[type=submit] {
  background: #2980B9;
  border-style: none;
  cursor: pointer;
  color: inherit;
  font-size: 1.2rem;
  font-weight: 100;
  height: 4vh;
  width: 9vh;
}

input[type=submit]:hover {
  box-shadow: 0 4px 8px 0 rgba(245, 245, 245, 0.2);
}


/* FOOTER */
footer {
  height: 15vh;
  width: 100vw;
  background-color: #2980B9;
  display: grid;
  grid-auto-rows: 2fr 4fr;
  grid-gap: 1rem;
  justify-content: center;
  align-items: center;
  text-align: center;
}

footer h3 {
  font-size: 1.5rem;
}

#awesome-icons {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding-top: 2rem;
}

#awesome-icons a {
  padding: 0 1rem;
}
