body {
  display: grid;
}

/* HEADER */
#header {
  position: fixed;
  width: 100%;
  height: 2.8rem;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'Raleway', sans-serif;
  color: whitesmoke;
}

header div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 1rem;
}

header a, header a:visited {
  color: inherit;
  text-decoration: none;
}

header a:hover {
  color: #8A9BA5;
}

#nav-left {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header a {
  padding: 0.7rem;;
  margin: 0.5rem;
}

/* LANDING */
#idx-landing {
  height: 100vh;
  display: grid;
  align-items: center;
  justify-items: center;
  background-color: #8A9BA5;
  background-image:
  url("../assets/img/greg-shield-1810-unsplash.jpg");
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  background-attachment: fixed;
  font-family: 'Raleway', sans-serif;
  color: whitesmoke;
}

#idx-landing > div {
  height: 14vh;
}

.idx-center {
  display: grid;
  justify-items: center;
}

h1 {
  font-size: 4rem;
  font-weight: bold;
}

h2 {
  font-size: 1.2rem;
  font-weight: lighter;
}
